// /* ----- Colors -----*/
$colorPrimary: #101013;
$colorSecundary: #171E27;
$colorThird: rgba(197, 197, 197, 0.3);

$colorFont: #FFFFFF;
$colorButtom : rgba(255, 255, 255, 0.3);


// /* ----- Font sizes ----- */
$title : 3.2rem;
$subtitle:2.4rem;
